<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<title>OTIC | Unidad de Servicios de Atención al Usuario</title>
	<link rel="icon" type="image/png" href="https://www.ugellaconvencion.gob.pe/lc/imagenes/logo-otic.png">
	<style>
	    .container {
	        margin-top: 200px;
	        background-color: #F1F1F1;
	        border-radius: 15px;
	        padding: 20px;
	        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	        max-width: 500px;
	        margin-left: auto;
	        margin-right: auto;
	    }
	</style>
</head>
<body>
	<div class="container">
	    <div class="imagen" style="text-align: center;">
	        <img src="https://www.ugellaconvencion.gob.pe/lc/imagenes/logo-otic.png" alt="Bootstrap" width="300" height="150">
	    </div>
	    <div style="padding: 10px; text-align: center;">
	        <h4>Sistema de Atención de Mantenimientos</h4>
	    </div>
	    <div class="row">
	        <div class="col-12 d-grid gap-2" style="padding: 20px;">
	            <a class="btn btn-primary" aria-current="page" th:href="@{/custom-login}">Iniciar sesión</a>
				<a class="btn btn-outline-primary" aria-current="page" th:href="@{/register}">Registrarse</a>
	        </div>
	    </div>
	</div>
	
</body>
</html>