<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<title>OTIC | Registrar Suministrador </title>
	<link rel="icon" type="image/png" href="https://www.ugellaconvencion.gob.pe/lc/imagenes/logo-otic.png">		
</head>
<body>
<nav class="navbar navbar-expand-lg navbar" style="background-color:#F1F1F1;">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="#">
		    	<img src="https://www.ugellaconvencion.gob.pe/lc/imagenes/logo-otic.png" alt="Bootstrap" width="200" height="80">
		    </a>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" th:href="@{/inicio}">Inicio</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" th:href="@{/solicitudes}">Solicitudes</a>
	        </li>
			<li class="nav-item">
			  <a class="nav-link" th:href="@{/requerimientos}">Requerimientos</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" th:href="@{/suministradores}">Suministradores</a>
			</li>
	      </ul>
		  <div class="d-flex" role="search">
		  		  			   	<ul class="navbar-nav me-auto mb-2 mb-lg-0">
		  							<li class="nav-item dropdown">
		  							          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		  							            Mi cuenta
		  							          </a>
		  							          <ul class="dropdown-menu">
		  							            <li><a class="dropdown-item" aria-current="page" th:href="@{/perfil}">Perfil</a></li>
		  							            <li><hr class="dropdown-divider"></li>
		  							            <li>
		  											<form sec:authorize="isAuthenticated()" method="post" action="/logout">
		  											<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
		  											<button type="submit" class="dropdown-item">
		  																Cerrar sesión
		  															</button>
		  											</form>
		  										</li>
		  							          </ul>
		  							 </li>
		  		  			    	</ul>
		  		  			</div>
	    	</div>
		  </div>
	</nav><br>
	<div style="padding: 30px">
		<div>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">INICIO</a></li>
					<li class="breadcrumb-item" aria-current="page">SUMINISTRADORES</li>
					<li class="breadcrumb-item active" aria-current="page">REGISTRAR SUMINISTRADOR</li>
				</ol>
			</nav>
		</div>
		<div class="container mt-4">
    <h2>Registrar Suministrador</h2>
    <div  style="margin: 20px auto 20px auto; width: 800px; padding: 10px; border: 1px solid gray; border-radius: 10px">
    <form th:action="@{/suministradores/guardar}" method="post" th:object="${suministrador}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    
    <div class="col mb-4">
    	
    <div class="form-group col-md-auto">
        <label for="nombre">Nombre:</label>
        <input class="form-control" type="text" th:field="*{nomSum}" id="nombre" placeholder="Nombre" required />
    </div>
    
    <div class="form-group col-md-auto">
    	<label for="RUC">RUC:</label>
    	<input class="form-control" type="text" th:field="*{rucSum}" id="RUC" placeholder="RUC" requierd /> 
    </div>
        
    <div class="form-group col-md-auto">
        <label for="telefono">Teléfono:</label>
        <input class="form-control" type="text" th:field="*{telSum}" id="telefono" placeholder="Teléfono" required />
    </div>
    
    <div class="form-group col-md-auto">
        <label for="email">Email:</label>
        <input class="form-control" type="email" th:field="*{emaSum}" id="email" placeholder="Email" required />
    </div>
    
    </div>
    
    <button class="btn btn-primary" type="submit">Registrar</button>
	</form>
</div>


</div>
		
	
	</div>
</body>
</html>